.footer {
  width: 100%;
  background-color: black;
  color: #f3f4f6;
  padding: 64px 0 32px 0;
}

.contentWrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid {
    gap: 80px;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.columnTitle {
  font-size: 16px;
  color: #999999;
  margin-bottom: 16px;
}

.contactTitle {
  margin-top: 32px;
}

.link,
.contactLink {
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 12px;
  transition: color 0.2s;
}

.link:hover {
  color: white;
}

.contactLink {
  cursor: default;
}

.appleStore {
  margin: 8px 0;
}

.divider {
  margin: 40px 0;
}

.bottomBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 24px;
}

// @media (min-width: 768px) {
//   .bottomBar {
//     flex-direction: row;
//     align-items: center;
//   }
// }

.copyright {
  font-size: 12px;
  color: #6b7280;
}

.legalBar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.excellentText {
  font-size: 24px;
  font-weight: 700;
}

.trustpilot {
  font-size: 24px;
}

.legalLink {
  font-size: 12px;
  color: #a1a1aa;
  text-decoration: none;
}

.legalLink:last-child {
  margin-left: 16px;
}

.legalLink:hover {
  color: white;
  text-decoration: underline;
}
