.header {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 12px 24px;
  margin: 16px 0 32px 0;
}

.route {
  margin: 0 24px;
  cursor: pointer;
}

.logo {
  margin-right: 40px;
}
