.header {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  max-width: 1120px;
  height: 64px;
  padding: 12px 24px;
  margin: 16px 0 32px 80px;
}

.route {
  margin: 0 16px;
}

.logo {
  //   margin: 0 16px;
}
