.card {
  display: flex;
  width: 224px;
}

.icon {
  margin-right: 16px;
}

.cardTitle {
  font-weight: 600;
  font-size: 18px;
  color: #1f2937;
  margin-bottom: 8px;
}

.cardDescription {
  font-size: 14px;
  color: #4b5563;
}
