.sidebar {
  min-width: 256px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px 0;
}

.category {
  margin-bottom: 25px;

  .title {
    color: #a0a0a0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 20px;
    margin-bottom: 15px;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  &.selected {
    background-color: #e0f7fa;
    padding-left: 40px;
  }

  .icon {
    padding-right: 10px;
  }
}
